In [1]:
# Importing the libraries 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Importing the dataset
dataset = pd.read_excel('C:/Users/admin/Downloads/Flight Fare Prediction Project/dataset/Test_set.xlsx')
pd.set_option('display.max_columns', None)

In [3]:
# Checking the dataset
dataset.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [ ]:
# As you can see above there are three types of data
# 1. Categorical Data
# 2. Date/Time Data i.e. Temporal Data

dataset.info()

# Exploratory Data Analysis

In [ ]:
# We will be droping the Route column because we have the Source, Destination and Total_Stops columns
# We will be droping the Additional_Route column because it will not be required in any prediction
dataset = dataset.drop('Route', axis=1)
dataset = dataset.drop('Additional_Info', axis=1)

In [4]:
dataset.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [5]:
# Lets find out the nan values first
dataset.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
dtype: int64

In [7]:
dataset['Airline'].value_counts()

Jet Airways                          897
IndiGo                               511
Air India                            440
Multiple carriers                    347
SpiceJet                             208
Vistara                              129
Air Asia                              86
GoAir                                 46
Multiple carriers Premium economy      3
Vistara Premium economy                2
Jet Airways Business                   2
Name: Airline, dtype: int64

In [ ]:
# So, here only Total_Stops have one Nan value
# We an drop the row of that nan value because it will not affect the data very much
dataset.dropna(axis=0, inplace=True)

In [ ]:
dataset['Journey_Day'] = pd.to_datetime(dataset['Date_of_Journey'], format='%d/%m/%Y').dt.day
dataset['Journey_Month'] = pd.to_datetime(dataset['Date_of_Journey'], format='%d/%m/%Y').dt.month

dataset['Departure_Hour'] = pd.to_datetime(dataset['Dep_Time']).dt.hour
dataset['Departure_Minute'] = pd.to_datetime(dataset['Dep_Time']).dt.minute

dataset['Arrival_Hour'] = pd.to_datetime(dataset['Arrival_Time']).dt.hour
dataset['Arrival_Minute'] = pd.to_datetime(dataset['Arrival_Time']).dt.minute

# Dealing with hours in Duration of flight
def duration_hours(x):
    hours = 0
    if "h" in x:
        hours += int(x.split("h")[0])
    return hours

# Dealing with minutes in DUration of flight
def duration_minutes(y):
    minutes = 0
    if "m" in y and "h" in y:
        minutes += int(y.split("h")[1].split("m")[0])
    return minutes


dataset['Duration_hour'] = dataset['Duration'].apply(duration_hours)
dataset['Duration_minutes'] = dataset['Duration'].apply(duration_minutes)

dataset.replace({"non-stop": 0, "1 stop": 1, "2 stops": 2, "3 stops": 3, "4 stops": 4}, inplace = True)
dataset.head()

Airline = dataset[['Airline']]
Airline = pd.get_dummies(Airline, drop_first=True)

Source = dataset[['Source']]
Source = pd.get_dummies(Source, drop_first=True)

Destination = dataset[['Destination']]
Destination = pd.get_dummies(Destination, drop_first=True)

dataset.drop(["Airline", "Source", "Destination", "Dep_Time", "Duration", "Arrival_Time", "Date_of_Journey"], axis = 1, inplace = True)

data_test = pd.concat([dataset, Airline, Source, Destination], axis = 1)

data_test.head()

In [ ]:
data_test.to_csv('C:/Users/admin/Downloads/Flight Fare Prediction Project/dataset/Test_Preprocessed.csv', index=False)