In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data_train = pd.read_csv('C:/Users/admin/Downloads/Flight Fare Prediction Project/dataset/Train_Preprocessed.csv')
pd.set_option('display.max_columns', None)

In [3]:
data_train.shape

(10682, 30)

In [4]:
data_train.head()

,Unnamed: 0,Total_Stops,Price,Journey_Day,Journey_Month,Departure_Hour,Departure_Minute,Arrival_Hour,Arrival_Minute,Duration_hour,Duration_minutes,Airline_Air India,Airline_GoAir,Airline_IndiGo,Airline_Jet Airways,Airline_Jet Airways Business,Airline_Multiple carriers,Airline_Multiple carriers Premium economy,Airline_SpiceJet,Airline_Vistara,Airline_Vistara Premium economy,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
0,0,0,3897,24,3,22,20,1,10,2,50,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1,1,2,7662,1,5,5,50,13,15,7,25,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
2,2,2,13882,9,6,9,25,4,25,19,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0
3,3,1,6218,12,5,18,5,23,30,5,25,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
4,4,1,13302,1,3,16,50,21,35,4,45,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [5]:
data_train.drop('Unnamed: 0', inplace=True, axis=1)

In [6]:
columns_titles = ['Price', 'Total_Stops', 'Journey_Day', 'Journey_Month', 'Departure_Hour', 'Departure_Minute', 'Arrival_Hour', 
'Arrival_Minute', 'Duration_hour', 'Duration_minutes', 'Airline_Air India', 'Airline_GoAir', 'Airline_IndiGo','Airline_Jet Airways', 'Airline_Jet Airways Business', 'Airline_Multiple carriers',
'Airline_Multiple carriers Premium economy', 'Airline_SpiceJet', 'Airline_Vistara', 'Airline_Vistara Premium economy', 'Source_Chennai', 'Source_Delhi', 'Source_Kolkata', 'Source_Mumbai',
'Destination_Cochin', 'Destination_Delhi', 'Destination_Hyderabad', 'Destination_Kolkata', 'Destination_New Delhi']
data_train = data_train.reindex(columns=columns_titles)

In [7]:
data_train.head()

,Price,Total_Stops,Journey_Day,Journey_Month,Departure_Hour,Departure_Minute,Arrival_Hour,Arrival_Minute,Duration_hour,Duration_minutes,Airline_Air India,Airline_GoAir,Airline_IndiGo,Airline_Jet Airways,Airline_Jet Airways Business,Airline_Multiple carriers,Airline_Multiple carriers Premium economy,Airline_SpiceJet,Airline_Vistara,Airline_Vistara Premium economy,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
0,3897,0,24,3,22,20,1,10,2,50,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1,7662,2,1,5,5,50,13,15,7,25,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
2,13882,2,9,6,9,25,4,25,19,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0
3,6218,1,12,5,18,5,23,30,5,25,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
4,13302,1,1,3,16,50,21,35,4,45,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [8]:
X = data_train.iloc[:, 1:]
y = data_train.iloc[:, 0]

In [9]:
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

In [10]:
svr = SVR()
dtr = DecisionTreeRegressor()
rfr = RandomForestRegressor()

In [11]:
from sklearn.model_selection import cross_val_score
ksvr = cross_val_score(estimator=svr, X=X, y=y, cv=5, n_jobs=10)
kdtr = cross_val_score(estimator=dtr, X=X, y=y, cv=5, n_jobs=10)
krfr = cross_val_score(estimator=rfr, X=X, y=y, cv=5, n_jobs=10)

In [12]:
print("SVR Accuracy: {:.2f} %".format(ksvr.mean()*100))
print("SVR Standard Deviation: {:.2f} %".format(ksvr.std()*100))

print("DTR Accuracy: {:.2f} %".format(kdtr.mean()*100))
print("DTR Standard Deviation: {:.2f} %".format(kdtr.std()*100))

print("RFR Accuracy: {:.2f} %".format(krfr.mean()*100))
print("RFR Standard Deviation: {:.2f} %".format(krfr.std()*100))

SVR Accuracy: 0.38 %
SVR Standard Deviation: 0.94 %
DTR Accuracy: 69.51 %
DTR Standard Deviation: 4.19 %
RFR Accuracy: 81.33 %
RFR Standard Deviation: 2.62 %

In [13]:
# So, as we can see Random Forest Regression is giving the highest accuracy 
# Now, we will divide  X and Y into train and test set

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [14]:
# Fitting into the Random Forest Regression model
rfr.fit(X_train, y_train)

RandomForestRegressor()

In [15]:
y_pred = rfr.predict(X_test)

In [16]:
print(rfr.score(X_train, y_train))
print(rfr.score(X_test, y_test))

0.9536998231872487
0.7995368865824326

In [17]:
from sklearn.metrics import r2_score
score = r2_score(y_pred, y_test)
print(score)

0.7667319209947262

In [18]:
# Let's increase the accuracy of the model
# Using Gradient Boosting
from sklearn.model_selection import RandomizedSearchCV

# Inializing the params of the model
n_estimators = [int(x) for x in np.linspace(start = 100, stop = 1200, num = 12)]
criterion = ['mae', 'mse']
max_features = ['auto', 'sqrt']
max_depth = [int(x) for x in np.linspace(5, 30, num = 6)]
min_samples_leaf = [1, 2, 5, 10]

In [19]:

params={
    'n_estimators':n_estimators,
    'max_depth':max_depth,
    'criterion':criterion,
    'min_samples_leaf':min_samples_leaf,
    'max_features':max_features
}

### Why I didn't use the GridSearchCV
### Because it was taking a lot of time in computation. It was fitting 5 folds for each of 1120 candidates, totalling 5706 fits.
### This is happening as per above params but if you increase there range it will take even more time to fit.

In [20]:
# Not able to run the fit when the min_samples_split in the params are defined
randomizedsearch = RandomizedSearchCV(estimator=rfr, param_distributions=params, scoring='neg_mean_squared_error', n_jobs=10, cv=5, verbose=2, n_iter=10)

In [21]:
randomizedsearch.fit(X_train, y_train)

Fitting 5 folds for each of 10 candidates, totalling 50 fits

RandomizedSearchCV(cv=5, estimator=RandomForestRegressor(), n_jobs=10,
                   param_distributions={'criterion': ['mae', 'mse'],
                                        'max_depth': [5, 10, 15, 20, 25, 30],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 5, 10],
                                        'n_estimators': [100, 200, 300, 400,
                                                         500, 600, 700, 800,
                                                         900, 1000, 1100,
                                                         1200]},
                   scoring='neg_mean_squared_error', verbose=2)

In [23]:
print(randomizedsearch.best_params_)

{'n_estimators': 900, 'min_samples_leaf': 1, 'max_features': 'sqrt', 'max_depth': 25, 'criterion': 'mse'}

In [25]:
rfr_after = RandomForestRegressor(n_estimators=900, min_samples_leaf=1, max_features='sqrt', max_depth=25, criterion='mse')
rfr_after.fit(X_train, y_train)

In [24]:
predictions = rfr_after.predict(X_test)

In [25]:
print(rfr_after.score(X_train, y_train))
print(rfr_after.score(X_test, y_test))

0.9534105062244465
0.8034370617589348

In [26]:
score_after = r2_score(y_test, predictions)

In [27]:
print(score_after)

0.8034370617589348

In [28]:
import pickle 
pickle_out = open('Price_Regression.pkl', 'wb')
pickle.dump(rfr_after, pickle_out)
pickle_out.close()